<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <title>HomeOwner</title>
        <link rel="ST icon" type="image/jpg" href="../assets/icons/icon.png"/>
        <link rel="stylesheet" href="../assets/css/main.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
                src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
                <script type="text/javascript" src="../assets/js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 title-text">
                    HomeOwner Management
                </div>
            </div>
            <div class="alert alert-danger error-message" role="alert">
                This is an error with you data processing, please try again later!
            </div>
            <div class="row upload-container">
                <div class="col-12 upload-file">
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="csvFile">Upload CSV file</label>
                            <input type="file" class="form-control-file csv-file" id="csvFile">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row upload-button">
                <div class="col-12">
                    <button type="button" class="btn btn-primary submit-btn">Submit!</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 csv-content">
                    <span>Content from CSV file</span>
                    <ul class="csv-content-list"></ul>
                </div>
            </div>

        </div>
    </body>
</html>